*.out
.DS_Store
.DS_Store
.vscode/settings.json
norecursivo/tsp-node.dSYM/*
.vscode/*
norecursivo/.idea/*
cmake-build-debug/*
CMakeList.txt
build/
norecursivo/paralelo/tsp-pthread
src/.env
src/venv/
src/venv/*
src/result.txt
src/maps_api_google.json
